* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction:row;
}

header {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 15px;
    border: 2px solid #A89A96;
    border-radius: 15px;
    margin: 10px;
}

header img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #A89A96;
}

nav a {
    color: #A89A96;
    text-decoration: none;
    font-size: 17px;
    margin: 0 10px;
}

nav {
    margin-left: 20px;
}

body {
    font-family: Georgia, serif;
    color: #5F5552;
    margin: 0;
    background-image: url('../img/images/background.png');
    background-repeat: repeat;
    background-color: #F7F0EE;
}


.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
.contenedor-productos h2 {
    width: 100%;
    text-align: center;
    margin-top: 34px;
    margin-bottom: 30px;
}

.productos {
    width: 250px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid #E8DDDA;

}

.productos img {
    width: 220px;
    height: 270px;
    border-radius: 10px;
}

.DetalleProducto {
    display: flex;
    padding: 24px;
}

.Producto {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.FotoProducto {
    width: 320px;
    margin-right: 32px;
    margin-bottom: 16px;
    border: solid 2px #8F817D;
    border-radius: 3%;

}

.InfoProducto {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.InfoProducto p {
    margin-bottom: 8px;
}

.Materiales {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.Materiales li {
    display: flex;
    border: solid 1px #8F817D;
    padding: 4px 12px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.reviews {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-top: solid 1.5px #8F817D;
}

.review1 {
    display: flex;
    flex-direction: column;
    border: 1px solid #8F817D;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: white;
}

.review2 {
    display: flex;
    flex-direction: column;
    border: 1px solid #8F817D;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: white;
}

.review3 {
    display: flex;
    flex-direction: column;
    border: 1px solid #8F817D;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: white;
}

.ver-detalle {
    color: white;
    background-color: #A89A96;
    text-decoration: none;
    padding: 5px;
    border-radius: 8px;
}

footer {
    display: flex;
    background-color: white;
    border: 2px solid #A89A96;
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
    text-align: center;
    color: #5F5552;
}

nav {
    display: flex;
    align-content: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 20px;
    display: flex;
    align-items: center;

    .home {
        margin-right: 16px;
    }
    .logIn {
        margin-right: 16px;
    }
}

nav li {
    padding: 0;
    margin: 0;
    list-style-type: none;

}

.busqueda {
    display: flex;
    margin: 0 0 0 85%;
}

.busqueda div {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.busqueda div input {
    width: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
}

.busqueda div button {
    color: white;
    background-color: #A89A96;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 3px;
    padding: 5px;
}


.form {
    margin: 25px;
    margin-bottom: 70px;
}

.form h1 {
    color: #8F817D;
    font-size: 48px;
    margin: 50px 0 20px;
}

.form div {
    margin: 0 0 10px;
}

.form input {
    width: 500px;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form button {
    color: white;
    background-color: #A89A96;
    text-decoration: none;
    padding: 5px;
    border-radius: 8px;
    margin: 0 0 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form a {
    color: #8F817D;
}


@media (max-width: 768px) {

    header {
        flex-direction: column;
    }

    nav {
        margin-left: 0;
        margin-top: 10 px;
    }

    .productos {
        width: 45%;
    }

    .Producto {
        flex-direction: column;
    }

    .FotoProducto {
        width: 80%;
        margin-right: 0;
    }

    .InfoProducto {
        width: 90%;
    }

    .form {
        width: 90%;
        margin: 20px auto;
    }

    .busqueda {
        width: 90%;
        margin-top: 10px;
    }

    .busqueda div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .busqueda input {
        width: 70%;
    }

    .busqueda botton {
        width: 30%;
    }
}

@media (max-width: 420px) {
    header {
        flex-direction: column;
    }

    nav {
        margin-left: 0;
        margin-top: 10 px;
    }

    .contenedor-productos {
        flex-direction: column;
        align-items: center;
    }

    .productos {
        width: 90%;
    }

    .productos img {
        width: 90%;
        height: auto;
    }

    .Producto {
        flex-direction: column;
    }

    .FotoProducto {
        width: 90%;
        margin-right: 0;
    }

    .InfoProducto {
        width: 90%;
    }

    .Materiales {
        flex-direction: column;
    }

    .reviews {
        padding: 15px;
    }

    .form {
        width: 90%;
        margin: 15 px auto;
    }

    footer {
        margin: 10px;
    }

    .busqueda {
        width: 90%;
        margin-top: 10px;
    }

    .busqueda div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .busqueda input {
        width: 100%;
        margin-bottom: 5px;
    }

    .busqueda botton {
        width: 100%;
    }
}
.CategoriasProductos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 220px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}
.CategoriasProductos ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.CategoriasProductos li {
    margin-bottom: 20px;
}

.CategoriasProductos a {
    color: #5F5552;
    text-decoration: underline;
}
