/* " El * selecciona todos los elementos de la pagina." 
   " El box-sizing: border-box hace que el padding y el borde se cuenten dentro del ancho y alto que le damos a cada elemento." */

* {
    box-sizing: border-box;
}


/* MAIN: 
    display: flex para poder organizar lo que esta adentro. 
    flex-direction: column hace que las secciones se acomoden una debajo de la otra. */

main {
    display: flex;
    flex-direction: column;
}

/* HEADER: 
    display:flex --> permite acomodar el logo y el menu uno al lado del otro.
    aling-items: center --> hace que queden alineados en la misma altura. */


header {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 15px;
    border: 2px solid #A89A96;
    border-radius: 15px;
    margin: 10px;
}

/* LOGO DEL HEADER: 
    Le damos un tamaño fijo al logo.
    Con un border-radius: 50% --> para que quede circular. */

header img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #A89A96;
}

/* LINK DE NAV: 
    Esto modifica los links <a> que estan adentro del nav.
    Sacamos el subrayado, cambiamos el color y separamos los links usando margin. */

nav a { 
     color: #A89A96;
    text-decoration: none;
    font-size: 17px;
    margin: 0 10px;
}

/* NAV:
    Es el grupo de links del menu.
    margin-left lo separa un poco del logo. */

nav {
    margin-left: 20px;
}

/* DIFERENCIA CLAVE ENTRE NAV A Y NAV: 
    nav a: lo usamos para poder editar el estilo de los links
    nav: lo usamos para editar su posicionamiento. 

body {
    background-color: #FBF6F5;
    font-family: Georgia, serif;
    color: #5F5552;
}

/* CONTENEDOR DE PRODUCTOS:
    Este div contiene todas las tarjetas de productos.
    display: flex permite ponerlas una al lado de la otra.flex-wrap: wrap permite que, cuando no entran más, pasen a la fila siguiente. */

.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    
}


/* TARJETA DE CADA PRODUCTO:
    Todos los article que tiene class="productos"
    reciben estos mismos estilos.
    Asi todas las tarjetas tienen el mismo diseño. */

.productos{
   width: 250px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    
}

/* IMAGENES DE LAS TARJETAS:
    Modifica unicamente a las imagenes que estan dentro de .productos. */

.productos img {
    width: 220px;
    height: 270px;
    border-radius: 10px;
}

.DetalleProducto {
    display: flex;
    padding: 24px;
}

.Producto {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.FotoProducto {
    width: 320px;
    margin-right: 32px;
    margin-bottom: 16px;
    border: solid 2px #8F817D;
    border-radius: 3%;

}

.InfoProducto {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.InfoProducto p {
    margin-bottom: 8px;
}

.Materiales {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.Materiales li {
    display: flex;
    border: solid 1px #8F817D;
    padding: 4px 12px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.reviews {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-top: solid 1.5px #8F817D;
}

.review1 {
    display: flex;
    flex-direction: column;
    border: 1px solid #8F817D;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: white;
}
.review2 {
    display: flex;
    flex-direction: column;
    border: 1px solid #8F817D;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: white;
}
.review3 {
   display: flex;
    flex-direction: column;
    border: 1px solid #8F817D;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: white;
}

.ver-detalle {
    color: white;
    background-color: #A89A96;
    text-decoration: none;
    padding: 5px ;
    border-radius: 8px;
}
footer{
    display: flex;
    background-color: white;
    border: 2px solid #A89A96;
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
    text-align: center;
    color: #5F5552;
}
